{% extends '::base.html.twig' %}
{% block body %}
    <h3>Listes des categories</h3>
    {% for categorie in categories %}
        <p>{{ categorie.id }}  :: <a href="{{ path('categorie',{'id':categorie.id}) }}">{{ categorie.name }}</a></p>
    {% endfor %}
{% endblock %}
