{% extends '::base.html.twig' %}
{% block body %}
    <br><br>

    <div style="text-align: center">
        <h1>Error {{ exception.statusCode }}</h1>

        <br><br><br>

        <p style="font-size: 20px;">
            The resource you are looking for is unavailable or not found.
            <br><br>
        <p style="">
            You can return to <a href="{{ path('annonces') }}">Annonce</a>
        </p>
        </p>
    </div>
{% endblock %}

